body, html{
  width:100%;
  height:100%;
  margin:0px;
  padding:0px;
}

.chat-image{
  border:0px;max-width:100%;box-sizing:border-box;padding:5px;
}

.console{

    border: 0px !important; 
    border-radius: 0px !important;
    background-color: black !important;
    color: white !important;
    font-family: monospace !important;
    width: 100% !important;
    margin: 0px !important;
    box-sizing: border-box !important;
    box-shadow: none !important;
    padding: 0px !important;
    height: 100% !important;
    line-height: 100% !important;

}

.clip_botton{
  cursor:copy;
}

.justCopied{
  color:green;
  font-size:18px;
  margin-left:-6px !important;
  margin-top:2px;
}

@keyframes fadeOut { 0%  { opacity: 1; } 10% { opacity: 1; } 90% { opacity: 1; } 99% { opacity: 0; } 100% { opacity: 0; }}

.inline{
  display:inline-block;
}

.ace_marker-layer{
  z-index:inherit !important;
}
.ace_active-line{
  z-index:0 !important;
}

.ace_selection{
  z-index:0 !important;
}

.username{
  color:#444;
}

.username.isuser{
  color:#f68a28;
}

.modal{
  width:600px;
}

.large-video{
  width:100%;
  box-sizing:border-box;
  padding:5px;
  padding-bottom:0px;
}

.small-video{
  width:50%;
  box-sizing:border-box;
  padding:5px;
}

.fa-spinner{
  display:none;
}

.loading>.fa-spinner{
  display:inline;
  -webkit-animation:spin 2s linear infinite;
  -moz-animation:spin 2s linear infinite;
  animation:spin 2s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.chat-button{
  position:absolute;
  right:20px;
  bottom: 0px;
  background:linear-gradient(#f68a28,#f36c00);
  border-radius: 4px 4px 0px 0px;
  color:white;
  font-size: 18px;
  z-index: 100;
  padding: 5px 10px;
  vertical-align: middle;
  font-weight:100;
  border:1px solid black;
  border-bottom:0px;
  cursor:pointer;
}

.chat-button:hover{
  background: #f68a28;
}

.no-select{
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -ms-user-select: none;
}

.firepad{
  width:100%;
  height:100%;
  position:relative;
}

.dropdown-menu{
  z-index:10000;
  /*top:0;*/
  left:0;
}

.dropdown-menu>li{
  padding:0px !important;
  text-shadow:none;
  cursor:pointer;
}

.header-menu-option .dropdown-menu{
  font-size:14px;
  font-weight:normal;
  line-height:20px;
  min-width:245px;
    border-radius: 0px 0px 6px 6px;
    margin-top: -1px;
    margin-left: -1px;
}

.header-menu-option.text{
  padding-left:0px;
  padding-right:0px;
}

.header-menu-option.text>.dropdown-toggle{
  padding-left:10px;
  padding-right:10px;
}

.header-menu-option .dropdown-menu .disabled>a{
  color:gray !important;
}

.header-menu-option .dropdown-menu>li>a{
  line-height:14px;
  font-size:13px;
  color:white;
  font-weight:200;
}

.header-menu-option .dropdown-menu>li>a>.key{
  position:absolute;
  right:10px;
}

.header-menu-option .dropdown-menu>li>a .space{
  width:2px;
  display:inline-block;
}

.header-menu-option .dropdown-menu, .header-menu-option .divider{
  background-color:#444;
  border-bottom:1px solid #888;
}

.header-menu-option .dropdown-submenu>a:after{
  margin-top:2px;
}

.header-menu-option .dropdown-menu .divider{
  margin: 3px 1px;
}

.header-menu-option{
    height: 40px;
    margin-top: -1px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 40px;
    cursor:pointer;
    color:#ededed;
}

.header-menu-option:hover, .header-menu-option.open{
  color:white;
  cursor:pointer;
  background:linear-gradient(#222,#444);
  text-shadow: 1px 1px 0px #000;
}

.header-menu-option.text{
  display:inline-block;
  position:relative;
  font-size: 14px;
  font-weight: 200;
  letter-spacing: 1px;
  height: 41px;
  top: -2px;
  margin-bottom: -2px;
  line-height: 41px;
}

/* app css stylesheet */

.hide {
   display: none;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li.hide {
   display: none;
}

.gray-gradient{
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(232,232,232,0.65) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(232,232,232,0.65))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(232,232,232,0.65) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(232,232,232,0.65) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(232,232,232,0.65) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(232,232,232,0.65) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6e8e8e8',GradientType=0 ); /* IE6-9 */


}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

p.status {
   color: red;
}

p.status.good, p.good {
   color: green;
}

form label {
   display: block;
   margin: 15px 0;
}

form label span {
   display: block;
   font-weight: bold;
}

.error {
   color: red;
}

fieldset {
   float: left;
   margin-right: 25px;
   padding: 25px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

#remoteVideos{
  position:relative;
  border-bottom:1px solid black;
}

#remoteVideos.full-screen{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: rgba(0,0,0,0.8);
  border-bottom:0px;
}

#remoteVideos.full-screen #otherVideos{
  position:absolute;
  bottom:35px;
  text-align:center;
  width:100%;
  overflow:auto;
}

#remoteVideos.full-screen #otherVideos video{
  width:200px;
}

#remoteVideos.full-screen #currentVideo{
    max-width: 100%;
    height: calc(100% - 210px);
    vertical-align: middle;
    margin-top: 10px;
}

#videoControls{
  text-align: center;
  padding-bottom: 5px;
  margin-top: -5px;
}

#remoteVideos.full-screen #videoControls{
  position: absolute;
  bottom: 0px;
  width: 100%;
}
